{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}
    提问题 | {{ block.super }}
{% endblock %}

{% block css %}
{% endblock %}


{% block content %}
    <div class="container">
        {{ form.media }}
        <form enctype="multipart/form-data" id="question-form" method="post" role="form"
              action="{% url 'quora:ask_question' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button id="publish" type="submit" class="btn btn-primary">提交</button>
                <a class="btn btn-light" style="float:right" href="{% url 'quora:all-questions' %}">取消</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block javascript %}
{% endblock %}
