{% load static i18n compress thumbnail %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Wanshan的主页{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css %}
    <link href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet">
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
      {% block css %}{% endblock %}

    {% endcompress %}



  </head>

  <body>

    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">可达鸭</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="home">
              <a class="nav-link" href="{% url 'home' %}">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="about">
              <a class="nav-link" href="{% url 'about' %}">关于</a>
            </li>
            <li class="nav-item" id="news">
              <a class="nav-link" href="{% url 'news:list' %}">新闻动态</a>
            </li>
            <li class="nav-item" id="blogs">
              <a class="nav-link" href="{% url 'blogs' %}">博客文章</a>
            </li>
            <li class="nav-item" id="quora">
              <a class="nav-link" href="{% url 'quora' %}">有问有答</a>
            </li>
            <li class="nav-item" id="chat">
              <a class="nav-link" href="{% url 'chat' %}">在线畅聊</a>
            </li>
            {% if request.user.is_authenticated %}

              <li class="nav-item" id="users">
                {# username 是一个占位符 #}
                <a class="nav-link" href="{% url 'users:detail' request.user.username %}">
                  {% thumbnail request.user.avatar "x25" as im %}
                    <img src="{{ im.url }}" style="border-radius: 50%;" alt="用户头像" class="user-image"/>
                  {% empty %}
                    <img src="{% static 'images/user.png' %}" height="25px" alt="没有头像">
                  {% endthumbnail %}
                </a>
              </li>
              <li class="nav-item" id="logout">
                <a id="sign-up-link" class="nav-link" href="{% url 'account_logout' %}">{% trans "退出" %}</a>
              </li>
            {% else %}
              <li class="nav-item" id="signup">
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "注册" %}</a>
              </li>
              <li class="nav-item" id="login">
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "登录" %}</a>
              </li>
            {% endif %}

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
          <!-- place project specific Javascript in this file -->
    {% compress js %}
      <!-- Bootstrap JS and its dependencies-->
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.bundle.js' %}"></script>
      <script src="{% static 'js/jquery-ui.min.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>
      <script>
        const currentUser = "{{ request.user.username }}";
        // 用来控制顶部导航栏的激活状态
        $(function () {
          let flags = ['news', 'about', 'blogs', 'quora', 'chat', 'signup', 'login', 'users', 'logout'];
          let href = window.location.href;
          let isHome = true;
          flags.forEach(function (item) {
            if (href.indexOf(item) !== -1) {
              $('#' + item).addClass('active');
              isHome = false
            } else {
              $('#' + item).removeClass('active')
            }
          });
          if (isHome) {
            $('#home').addClass('active');
          }
        })
      </script>
      {% block javascript %}
      {% endblock javascript %}
    {% endcompress %}
  </body>
</html>

